# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/
dist/
build/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Environments
.env
.venv/
venv/
.env.local
.DS_Store

# IDE
.vscode/
.idea/

# Data
/data/*
!/data/jobs.csv
*.parquet

# Streamlit
.streamlit/

# Playwright
playwright/.cache/ 